
    .cur-page-top-bg-image
    {
      height: 245px;
      background-image: url('../images/wallpaper-background.jpg');
    }

    .form
    {
      width: 420px;
      padding: 35px;
      color: rgb(230, 230,  230);
      max-width: 95%;
      background: rgb(40, 40, 40);
      box-shadow: 0 0 25px rgb(25, 25, 25) inset, 0 25px 50px rgb(70, 70, 70);
      border-radius: 10px;
    }

    .form-group
    {
      padding: 12px 0;
      margin: 0;
    }

    .form-control
    {
      border: none;
      background: rgb(230, 230,  230);
      transition: 0.3s;
    }

    .form-control:hover
    {
      background: rgb(230, 230,  230) !important;
      box-shadow: 0 0 6px white;
    }

    .form-group .form-control
    { padding: 10px; }