        
    .cur-page-top-bg-image
    {
      height: 140px;
      background-image: url('../images/black-background-squares.jpg');
    }
    
    .table-wrapper
    { 
      box-shadow: 0 4px 10px 0 #aaa, 
                  0 4px 20px 0 #aaa; 
    }

    .table-dark
    { background: #202020; }

    .table-dark td, .table-dark th
    { border: none; }

    .table-dark tr
    { transition: 0.2s; }

    .table-dark tr:hover
    { background: #101010 !important; }